@tailwind base;
@tailwind components;
@tailwind utilities;

li{
    list-style-type: none;
}
.footer_links{
    @apply hover:underline opacity-80 hover:opacity-100 transition-all duration-200 ease-linear 
}
.spinner{
  margin: 4.8rem auto;
  width: 6.4rem; 
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #4f46e5 94%, #0000)
      top/10px 10px no-repeat,
    conic-gradient(#0000 30%, #4f46e5); 
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
}
@media screen and (max-width:867px) {
.nav_links{
    position: fixed;
    width: 60%;
    height: 0;
    top: 4.3rem;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    color: blue;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.show_nav{
    height: 40vh;
}
}

@media screen and (max-width:475px){
    .nav_links{
        width: 80%;
    }
}
